<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <RollingFile name="file" fileName="/Users/yoke/code/java/zeus/logs/zeus-client.log"
                     filePattern="logs/$${date:yyyy-MM}/storm-alarm-core-%d{yyyy-MM-dd}-%i.log">
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1M"/>
            </Policies>
            <PatternLayout pattern="%msg%n"/>
            <!--            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] - %l - %m%n"/>-->
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="com.songmengyuan" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </logger>
    </Loggers>
</Configuration>